<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
    http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!--静态资源-->
    <mvc:resources mapping="/resource/js/**" location="/resource/js/"/>
    <mvc:resources mapping="/resource/css/**" location="/resource/css/"/>
    <mvc:resources mapping="/resource/image/**" location="/resource/image/"/>
    <mvc:resources mapping="/resource/fonts/**" location="/resource/fonts/"/>

    <!--验证器-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="mappingLocations" value="classpath:validators/*.xml"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <!--注解驱动-->
    <context:component-scan base-package="com.webapp.controller"/>
    <mvc:annotation-driven validator="validator"/>



    <!--JSP视图渲染-->
    <!--<bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>-->

    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="300000"/>
    </bean>

    <!--拦截器配置-->
   <!-- <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**/*"/>
            <mvc:exclude-mapping path="/article/list"/>
            <mvc:exclude-mapping path="/article/show/*"/>
            <mvc:exclude-mapping path="/user/*"/>
            <mvc:exclude-mapping path="/error"/>
            <mvc:exclude-mapping path="/resource/**/*"/>
            <bean class="com.webapp.interceptor.AuthInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>-->

    <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="/WEB-INF/velocity/"></property>
        <property name="configLocation" value="classpath:/velocity/velocity.properties"></property>
    </bean>
    
    <bean id="viewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
                <property name="defaultContentType" value="text/html"></property>
                <property name="ignoreAcceptHeader" value="true"></property>
                <property name="mediaTypes">
                    <map>
                        <entry key="json" value="application/json"></entry>
                        <entry key="do" value="application/x-download"></entry>
                    </map>
                </property>
            </bean>
        </property>
        <property name="viewResolvers">
            <list>
                <bean class="com.web.base.VelocityLayoutViewResolver">
                    <property name="contentType" value="text/html;charset=UTF-8"></property>
                    <property name="suffix" value=".html"></property>
                    <property name="toolboxConfigResource" value="classpath:/velocity/tools.xml"></property>
                    <property name="viewClass" value="com.web.base.VelocityLayoutView"></property>
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean class="com.web.base.DownloadView">
                    <constructor-arg name="contentType" value="application/xls"></constructor-arg>
                </bean>
                <bean class="com.web.base.JsonView">
                    <constructor-arg name="contentType" value="application/json"></constructor-arg>
                </bean>
                <bean class="com.web.base.ImageView">
                    <constructor-arg name="contentType" value="image/jpeg"></constructor-arg>
                </bean>
            </list>
        </property>
    </bean>

</beans>